<a href="https://colab.research.google.com/github/Tharun1525/PDS_1525_B_10/blob/main/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# --- Create Products dataset ---
products = pd.DataFrame({
    "product_id": [101, 102, 103, 104, 105],
    "product_name": ["Laptop", "Smartphone", "Desk Chair", "Table", "Headphones"],
    "category": ["Electronics", "Electronics", "Furniture", "Furniture", "Electronics"],
    "price": [800, 600, 120, 200, 150]
})

# --- Create Sales dataset ---
sales = pd.DataFrame({
    "sale_id": [1, 2, 3, 4, 5, 6],
    "product_id": [101, 102, 103, 104, 105, 106],
    "quantity": [10, 15, 20, 5, 25, 12]
})

print("Products Dataset:\n", products, "\n")
print("Sales Dataset:\n", sales, "\n")

# --- Inner Join ---
inner_merge = pd.merge(sales, products, on="product_id", how="inner")
print("Inner Join Result:\n", inner_merge, "\n")

# --- Outer Join ---
outer_merge = pd.merge(sales, products, on="product_id", how="outer")
print("Outer Join Result:\n", outer_merge, "\n")

# --- Compute Statistics ---
# Total revenue per product
inner_merge["revenue"] = inner_merge["quantity"] * inner_merge["price"]

total_revenue = inner_merge["revenue"].sum()
avg_price = products["price"].mean()
product_sales = inner_merge.groupby("product_name")["revenue"].sum()
category_sales = inner_merge.groupby("category")["revenue"].sum()

best_category = category_sales.idxmax()

print("üìä Total Revenue: $", total_revenue)
print("üìä Average Product Price: $", round(avg_price, 2))
print("üìä Product-wise Sales:\n", product_sales, "\n")
print("üìä Category-wise Sales:\n", category_sales, "\n")
print("üèÜ Best-selling Category:", best_category)

Products Dataset:
    product_id product_name     category  price
0         101       Laptop  Electronics    800
1         102   Smartphone  Electronics    600
2         103   Desk Chair    Furniture    120
3         104        Table    Furniture    200
4         105   Headphones  Electronics    150

Sales Dataset:
    sale_id  product_id  quantity
0        1         101        10
1        2         102        15
2        3         103        20
3        4         104         5
4        5         105        25
5        6         106        12

Inner Join Result:
    sale_id  product_id  quantity product_name     category  price
0        1         101        10       Laptop  Electronics    800
1        2         102        15   Smartphone  Electronics    600
2        3         103        20   Desk Chair    Furniture    120
3        4         104         5        Table    Furniture    200
4        5         105        25   Headphones  Electronics    150

Outer Join Result:
    sale_id  product_id  quantity product_name     category  price
0        1         101        10       Laptop  Electronics  800.0
1        2         102        15   Smartphone  Electronics  600.0
2        3         103        20   Desk Chair    Furniture  120.0
3        4         104         5        Table    Furniture  200.0
4        5         105        25   Headphones  Electronics  150.0
5        6         106        12          NaN          NaN    NaN

üìä Total Revenue: $ 24150
üìä Average Product Price: $ 374.0
üìä Product-wise Sales:
 product_name
Desk Chair    2400
Headphones    3750
Laptop        8000
Smartphone    9000
Table         1000
Name: revenue, dtype: int64

üìä Category-wise Sales:
 category
Electronics    20750
Furniture       3400
Name: revenue, dtype: int64

üèÜ Best-selling Category: Electronics

In [2]:
import pandas as pd

# --- Teachers dataset ---
teachers = pd.DataFrame({
    "teacher_id": [1, 2, 3, 4, 5],
    "teacher_name": ["Dr. Smith", "Dr. Johnson", "Dr. Lee", "Dr. Brown", "Dr. Adams"],
    "department": ["Computer Science", "Mathematics", "Physics", "Computer Science", "Mathematics"]
})

# --- Courses dataset ---
courses = pd.DataFrame({
    "course_id": [101,102,103,104,105,106,107,108,109,110,111],
    "course_name": ["Algorithms", "Data Structures", "Calculus", "Linear Algebra",
                    "Quantum Mechanics", "Databases", "Operating Systems",
                    "Statistics", "Machine Learning", "Astrophysics", "Topology"],
    "teacher_id": [1,1,2,2,3,4,4,5,1,3,6]
})

print("Teachers Dataset:\n", teachers, "\n")
print("Courses Dataset:\n", courses, "\n")

# --- Inner Join (only matching teacher_id) ---
inner_merge = pd.merge(courses, teachers, on="teacher_id", how="inner")
print("Inner Join Result:\n", inner_merge, "\n")

# --- Left Join (all courses, keep unmatched teachers as NaN) ---
left_merge = pd.merge(courses, teachers, on="teacher_id", how="left")
print("Left Join Result:\n", left_merge, "\n")

# --- Compute Statistics ---
# Average courses per teacher
courses_per_teacher = inner_merge.groupby("teacher_name")["course_id"].count()
avg_courses = courses_per_teacher.mean()

# Workload per department
workload_by_dept = inner_merge.groupby("department")["course_id"].count()

print("üìä Courses per Teacher:\n", courses_per_teacher, "\n")
print("üìä Average Courses per Teacher:", round(avg_courses, 2))
print("üìä Workload by Department:\n", workload_by_dept, "\n")

Teachers Dataset:
    teacher_id teacher_name        department
0           1    Dr. Smith  Computer Science
1           2  Dr. Johnson       Mathematics
2           3      Dr. Lee           Physics
3           4    Dr. Brown  Computer Science
4           5    Dr. Adams       Mathematics

Courses Dataset:
     course_id        course_name  teacher_id
0         101         Algorithms           1
1         102    Data Structures           1
2         103           Calculus           2
3         104     Linear Algebra           2
4         105  Quantum Mechanics           3
5         106          Databases           4
6         107  Operating Systems           4
7         108         Statistics           5
8         109   Machine Learning           1
9         110       Astrophysics           3
10        111           Topology           6

Inner Join Result:
    course_id        course_name  teacher_id teacher_name        department
0        101         Algorithms           1    Dr. Smith  Computer Science
1        102    Data Structures           1    Dr. Smith  Computer Science
2        103           Calculus           2  Dr. Johnson       Mathematics
3        104     Linear Algebra           2  Dr. Johnson       Mathematics
4        105  Quantum Mechanics           3      Dr. Lee           Physics
5        106          Databases           4    Dr. Brown  Computer Science
6        107  Operating Systems           4    Dr. Brown  Computer Science
7        108         Statistics           5    Dr. Adams       Mathematics
8        109   Machine Learning           1    Dr. Smith  Computer Science
9        110       Astrophysics           3      Dr. Lee           Physics

Left Join Result:
     course_id        course_name  teacher_id teacher_name        department
0         101         Algorithms           1    Dr. Smith  Computer Science
1         102    Data Structures           1    Dr. Smith  Computer Science
2         103           Calculus           2  Dr. Johnson       Mathematics
3         104     Linear Algebra           2  Dr. Johnson       Mathematics
4         105  Quantum Mechanics           3      Dr. Lee           Physics
5         106          Databases           4    Dr. Brown  Computer Science
6         107  Operating Systems           4    Dr. Brown  Computer Science
7         108         Statistics           5    Dr. Adams       Mathematics
8         109   Machine Learning           1    Dr. Smith  Computer Science
9         110       Astrophysics           3      Dr. Lee           Physics
10        111           Topology           6          NaN               NaN

üìä Courses per Teacher:
 teacher_name
Dr. Adams      1
Dr. Brown      2
Dr. Johnson    2
Dr. Lee        2
Dr. Smith      3
Name: course_id, dtype: int64

üìä Average Courses per Teacher: 2.0
üìä Workload by Department:
 department
Computer Science    5
Mathematics         3
Physics             2
Name: course_id, dtype: int64